<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
	D&uacute;vidas e informa&ccedil;&otilde;es: <a href="mailto:dgti@sorocaba.sp.gov.br">dgti@sorocaba.sp.gov.br</a>
  </div>
  <!-- Default to the left -->
  <strong>Copyleft &copy; 2016 <a href="http://sorocaba.sp.gov.br/">Prefeitura Municipal de Sorocaba</a>.</strong>
</footer>
